<form role="form">
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label for="firstname">Name</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="firstname" placeholder="First">
                    <span class="help-block hidden"></span>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label for="lastname">&nbsp</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="lastname" placeholder="Last">
                    <span class="help-block hidden"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email">
        <span class="help-block hidden"></span>
    </div>

    <div class="form-group">
        <label for="phone" class="control-label">Phone</label>
        <input type="number" class="form-control" id="phone"/>
        <span class="help-block hidden"></span>
    </div>

    <div class="form-group">
        <label for="country" class="control-label">Country</label>
        <select class="form-control" id="country" name="country">
        </select>
        <span class="help-block hidden"></span>
    </div>

    <div class="form-group">
        <label for="password" class="control-label">Password</label>
        <input type="password" class="form-control" id="password" />
        <span class="help-block hidden"></span>
    </div>
    <div class="form-group">
        <label for="repeatPassword" class="control-label">Repeat Password</label>
        <input type="password" class="form-control" id="repeatPassword" />
        <span class="help-block hidden"></span>
    </div>

    <div class="form-group">
        <label for="age" class="control-label">Age</label>
        <input type="number" class="form-control" id="age"/>
        <span class="help-block hidden"></span>
    </div>

    <div class="form-group">
        <div class="checkbox">
            <label class="control-label">
                <input type="checkbox" value="true" id="terms" />I agree to the <a href="#">Terms of Services</a>
            </label>
            <span class="help-block hidden"></span>
        </div>
    </div>

    <button type="submit" id="register-user" class="btn btn-default">Submit</button>
</form>